@{
    ViewData["Title"] = "";
}

<nav class="navbar navbar-light d-grid gap-2 d-md-flex justify-content-md-end">
    
</nav>
<div class="d-flex justify-content-center" style="margin-top: 5%;">
    <img src="img/Loto-tatneft.png" class="img-fluid" alt="..." width="800" height="400">
</div>