@model monitoring.Ngdu

@{
    ViewData["Title"] = "Удалить";
}

<h1>Delete</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Данные Нгду</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
       
    </dl>

    <form asp-action="Delete">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="NgduId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
